@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
	overflow-x: hidden;
}
.header{
	width: 100%;
	background-color: #839AA8;
	text-align: center;
	color: white;
	padding: 20px 0px;
	font-family: 'Bebas Neue', cursive;

}
.HeaderHeading > h2{
	margin: 0px;
}
.HeaderMenu {
	text-align: right;
}
.HeaderMenu > ul > li {
	text-decoration: none;
	display: inline;
	padding: 5px 10px;
	font-size: 20px;
}
.HeaderMenu > ul > li > a{
	text-decoration: none;
	color: white;
}
.ProductItem{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80vh;
	margin: 10px 0px;
	padding: 20px 40px;
	font-family: system-ui;
	box-shadow: 0 0 1em #00000026;	
	padding-bottom: 30px;
	text-align: center;
}
.ProductItem:hover{
	box-shadow: 0 0 1em #0c519171;	
}
.ProductItem > button {
	border: 1px solid #0c5da86e;
}
.LoginForm input{
    padding: 10px 20px;
    width: 70%;
    margin: 10px 0px;
}
.loginImg{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.loginImg > img{
    width: 300px;
    height: 300px;
}
.FooterSec{
	text-align: center;
	padding: 20px 0px;
	font-family: 'Bebas Neue', cursive;
	background-color: black;
	color: white;
}